<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Console appender configuration -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set logging levels -->
    <logger name="net.noisynarwhal.quadrivium" level="DEBUG"/>

    <!-- Root logger configuration -->
    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>